body {
    overflow: hidden;
    background-color: #8f8;

    .actions {
        position: absolute;
        right: 50px;
        top: 50px;
        padding: 20px;
        z-index: 1;
        background-color: rgba(255,255,255,0.7);
        border-radius: 10px;

        .legend {
            margin-top: 10px;
            text-align: center;
        }
    }

    .tiles {
        position: relative;

        div {
            white-space: nowrap;

            .tile {
                display: inline-block;
                white-space: normal;
            }
        }
    }
}