<!DOCTYPE html>
<html lang="en" ng-app="mapApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Map demo application">
    <meta name="author" content="Andrey Prikaznov">
    <title>Map demo application</title>

    <!-- bootstrap - compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body ng-controller="mapController" ng-mousedown="mouseDown($event)" ng-mouseup="mouseUp($event)" ng-mousemove="mouseMove($event)" ng-mouseleave="mouseLeave($event)">

    <div class="actions">
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default" ng-click="zoomIn()">+</button>
            <button type="button" class="btn btn-default" ng-click="zoomOut()">-</button>
        </div>
        <div class="legend">Zoom: {{state.zoom}}</div>
    </div>

    <div class="tiles" style="left:{{state.paneX}}px; top:{{state.paneY}}px">
        <div ng-repeat="x in [] | range: state.zoom">
            <img class="tile" ng-repeat="y in [] | range: state.zoom" src="tiled/{{state.zoom-1}}/{{y}}/{{x}}.jpg" />
        </div>
    </div>

    <!-- angularjs cdn library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
    <script src="js/app.js"></script>
</body>
</html>